*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-family: "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.container > div:first-child {
    margin-left: 0em;
}

a {
    color: rgb(250, 249, 249);
    transition: all 300ms ease;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

nav {
    background-color: #3a81ec;
    width: 100vw;
    height: 4.5rem;
    top: 0;
    z-index: 10;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    display: block;
}

nav button {
    display: none;
}

.nav_container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5em;
    margin-right: 5em;
}

.nav_logo {
    font-weight: 600;
    font-size: 1.2rem;
}

.nav_items {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav_profile {
    position: relative;
    cursor: pointer;
}

.nav_profile ul {
    position: absolute;
    top: 125%;
    right: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);
    background-color: #3a81ec;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease;
    width: 300%;
} 

.nav_profile:hover > ul {
    visibility: visible;
    opacity: 1;
}

.nav_profile ul li{
    width: 100%;
}

.nav_profile ul li a {
    padding: 1rem;
    background-color: #3a81ec;
    display: block;
    width: 100%;
}

.nav_profile ul li:last-child  {
    background-color: rgba(255, 0, 0, 0.758);
    padding: 1rem;
    color: #fff;
   /*  display: block; */
    width: 100%;

}

.avatar {
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    border-radius: 50%;
    border: 0.2rem solid black;
}

.nav_profile .signed_in_nav_links {
    display: block;
}

header {
    margin-top: 100px;
}
